<ion-header-bar class="bar-positive">
    <h1 class="title">Learner</h1>
</ion-header-bar>
<ion-content class="has-header">

  <div class="list card">

    <div class="item item-body">
      <h1>{{module.title}}</h1>
      <p>{{module.description}}</p>
    </div>

    <div ng-show="module.img!=undefined" class="item item-image">
      <img src="{{module.img}}">
    </div>

    <a class="item item-icon-right assertive" href="#/diapo">
      <i class="icon ion-eye"></i>
      Lancer le cours
    </a>

  </div>

</ion-content>