<section ng-controller="HomeCtrl">

	<section class="panel panel-padding">
		<p>Choisissez les modules souhaités</p>
		<div class="modul">Module 1</div> 
		<div class="modul">Module 2</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>
		<div class="modul">Module 3</div>
		<div class="modul">Module 4</div>

		<nav class="nav">
			<a>Done</a>
		</nav>

	</section>

</section>