	<div class="card">
	  <div class="item item-text-wrap">
		{{diapo.content.question}}
	  </div>
	</div>
<br>

<div class="range">

	<div class="icon">
	  {{diapo.content.range_begin}}
      <i class="ion-minus-round"></i>
  	</div>

  <input id="rangeValue" type="range" name="volume" min="{{diapo.content.range_begin}}" max="{{diapo.content.range_end}}" value="{{rangeValue}}" step="{{diapo.content.range_step}}" ng-model="rangeValue">

	<div class="icon">
		{{diapo.content.range_end}}
	    <i class="ion-plus-round"></i>
	</div>

</div>

<div class="row">
	<div class="col">{{rangeValue}}</div>
</div>